<ng-container *ngIf="contract$ | async as contract; else empty">
  <header>
    <div class="profile">
      <eth-blocky [address]="contract.address"></eth-blocky>
      <h1>{{ contract.artifact.contractName }}</h1>
      <p>{{ contract.address }}</p>
    </div>
    <span class="tag">{{ contract.artifact.standard }}</span>
  </header>
  <article class="surface details">
    <h2>Tokens</h2>
    <span>Balance: {{ contract.balance | ether }}</span>
  </article>
  <article class="surface">
    <nav>
      <menu>
        <li>
          <a routerLink="transactions" routerLinkActive="active">Transactions</a>
        </li>
        <li>
          <a routerLink="abi" routerLinkActive="active">ABI</a>
        </li>
        <li>
          <a routerLink="events" routerLinkActive="active">Events</a>
        </li>
      </menu>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
  </article>
</ng-container>

<ng-template #empty>
  <article>
    <h2>No ABI found</h2>
    <p>
      Sorry, we couldn't find the ABI associated with this contract.<br/>
      This usually happens when the contract has an immutable property.
    </p>
    <form [formGroup]="verifyForm" (ngSubmit)="verify()">
      <div class="field">
        <label for="contract-name">Contract Name</label>
        <input id="contract-name" type="text" formControlName="contractname" />
      </div>
      <div class="field">
        <label for="constructor-arguements">Constructor Arguements</label>
        <textarea id="constructor-arguements" formControlName="constructorArguements"></textarea>
      </div>
      <div class="field">
        <label for="source-code">Source Code</label>
        <textarea id="source-code" formControlName="sourceCode"></textarea>
      </div>
      <button type="submit">Verify Contract</button>
    </form>
  </article>
</ng-template>