<p>{{ address$ | async }}</p>
<ng-container *ngIf="exist$ | async; else error">

  <ul>
    <li *ngFor="let token of tokens$ | async">
      {{ token }}
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="transfer()">
    <label for="to">To</label>
    <input type="text" formControlName="to" name="to" id="to" required>
    <label for="tokenId">tokenId</label>
    <select formControlName="tokenId" name="tokenId" id="tokenId">
      <option *ngFor="let tokenId of tokens$ | async" [value]="tokenId">
        {{ tokenId }}
      </option>
    </select>
    <input type="number" formControlName="amount" name="amount" id="amount" required>
    <button type="submit">Transfer</button>
  </form>
</ng-container>

<ng-template #error>
  Wrong network.
</ng-template>