<h1>Transaction</h1>
<ng-container *ngIf="tx$ | async as tx">
  <table class="surface record">
    <tr>
      <th>Transaction hash</th>
      <td>{{ tx.transactionHash }}</td>
    </tr>
    <tr>
      <th>Transaction Index</th>
      <td>{{ tx.transactionIndex }}</td>
    </tr>
    <tr>
      <th>Transaction Status</th>
      <td>{{ tx.status === 1 ? 'Succeed' : 'Failed' }}</td>
    </tr>
    <tr>
      <th>From</th>
      <td><a [routerLink]="['/account', tx.from]">{{ tx.from }}</a></td>
    </tr>
    <tr>
      <th>To</th>
      <td><a [routerLink]="['/account', tx.to]">{{ tx.to }}</a></td>
    </tr>
    <tr>
      <th>Contract Address</th>
      <td><a [routerLink]="['/account', tx.contractAddress]">{{ tx.contractAddress }}</a></td>
    </tr>
    <tr>
      <th>Gas Used</th>
      <td>{{ tx.gasUsed | bignumber }}</td>
    </tr>
  </table>
</ng-container>
