<h1>Transaction</h1>
<ng-container *ngIf="tx$ | async as tx">
  <table class="surface record">
    <tr>
      <th>Transaction Hash</th>
      <td>{{ tx.hash }}</td>
    </tr>
    <tr>
      <th>Nonce</th>
      <td>{{ tx.nonce }}</td>
    </tr>
    <tr>
      <th>Block</th>
      <td>
        <a [routerLink]="['/block', tx.blockNumber]">{{ tx.blockNumber }}</a> ({{ tx.blockHash }})
      </td>
    </tr>

    <tr>
      <th>From</th>
      <td><a [routerLink]="['/account', tx.from]">{{ tx.from }}</a></td>
    </tr>
    <tr>
      <th>To</th>
      <td><a [routerLink]="['/account', tx.to]">{{ tx.to }}</a></td>
    </tr>
    <tr>
      <th>Contract Address</th>
      <td><a [routerLink]="['/contract', tx.contractAddress]">{{ tx.contractAddress }}</a></td>
    </tr>

    <tr>
      <th>Transaction Index</th>
      <td>{{ tx.transactionIndex }}</td>
    </tr>
    <tr>
      <th>Transaction Status</th>
      <td>{{ tx.status === 1 ? 'Succeed' : 'Failed' }}</td>
    </tr>
    <tr>
      <th>Confirmations</th>
      <td>{{ tx.confirmations }}</td>
    </tr>
    <tr>
      <th>Cumulative Gas Used</th>
      <td>{{ tx.cumulativeGasUsed | bignumber }}</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ tx.type }}</td>
    </tr>
    <tr>
      <th>Timestamp</th>
      <td>{{ tx.timestamp }}</td>
    </tr>
    <tr>
      <th>Value</th>
      <td>{{ tx.value | ether }}</td>
    </tr>
    <tr class="logs">
      <th>Logs</th>
      <td>
        <details *ngFor="let log of tx.logs; trackBy: trackByIndex">
          <summary>
            Emitter: <a [routerLink]="['/contract', log.address, 'events']">{{ log.address }}</a>
          </summary>
          <article *ngIf="log.topics.length">
            <h5>Indexed</h5>
            <ol>
              <li *ngFor="let topic of log.topics">{{ topic }}</li>
            </ol>
          </article>
          <article *ngIf="log.data !== '0x'">
            <h5>Non indexed data</h5>
            <pre><code>{{ log.data }}</code></pre>
          </article>
        </details>
      </td>
    </tr>
    <tr class="data">
      <th>Data</th>
      <td>
        <pre>
          <ng-container *ngIf="(showData || tx.data.length < 300) else reducedData">
            <code>{{ tx.data }}</code>
            <button (click)="showData = false" *ngIf="showData">
              Show less
            </button>
          </ng-container>
          <ng-template #reducedData>
            <code>{{ tx.data | slice:0:300 }}...</code>
            <button (click)="showData = true">
              Show more ({{ tx.data.length - 300 }})
            </button>
          </ng-template>
        </pre>
      </td>
    </tr>
  </table>
</ng-container>
