<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/blocks" routerLinkActive="active">Blocks</a>
      </li>
      <li>
        <a routerLink="/txs" routerLinkActive="active">Transactions</a>
      </li>
      <li>
        <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a routerLink="/contracts" routerLinkActive="active">Contracts</a>
      </li>
    </ul>
  </nav>
  
  <form (submit)="search($event, input)">
    <input #input type="text" />
    <button type="submit">Search</button>
  </form>
</header>
<main>
  <router-outlet></router-outlet>
</main>
