header {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  padding: var(--size-2) var(--size-3);
  a {
    padding: var(--size-1) var(--size-2);
    color: inherit;
    text-decoration: none;
    &:hover {
      background-color: var(--background-2);
    }
    &.active {
      border-bottom: 1px solid var(--accent-0);
    }
  }
  form {
    margin-left: auto;
    input, button {
      border: 1px solid var(--border-0);
    }
    input {
      border-radius: var(--size-2) 0 0 var(--size-2);
    }
    button {
      border-radius: 0 var(--size-2) var(--size-2) 0;
      cursor: pointer;
    }
  }
}

main {
  padding: var(--size-3);
}