<ng-container *ngIf="block$ | async as block">
  <h1>Block #{{ block.number }}</h1>

  <article>
    <h2>Details</h2>
    <table>
      <tr>
        <td>Block Height</td>
        <td>
          <a [routerLink]="['..', block.number - 1]" *ngIf="block.number">Previous</a>
          <span>{{ block.number }}</span>
          <a [routerLink]="['..', block.number + 1]" *ngIf="hasNext$ | async"
            >Next</a
          >
        </td>
      </tr>
      <tr>
        <td>Timestamp</td>
        <td>{{ block.timestamp * 1000 | date: 'full' }}</td>
      </tr>
      <tr>
        <td>Mined By</td>
        <td>
          <a [routerLink]="['/address', block.miner]">{{ block.miner }}</a>
        </td>
      </tr>
    </table>
  </article>

  <article>
    <header>
      <h2>Transactions</h2>
      <small>{{ block.transactions.length }}</small>
    </header>
    <ul>
      <li *ngFor="let hash of block.transactions">
        <a [routerLink]="['/tx', hash]">{{ hash }}</a>
      </li>
    </ul>
  </article>
</ng-container>
