<ng-container *ngIf="account$ | async as account">
  <header>
    <eth-blockies [address]="account.address"></eth-blockies>
    <h1>
      Address: <small>{{ account.address }}</small>
    </h1>
    <span>{{ account.balance | ether }}</span>
  </header>
  <article>
    <h2>Tokens</h2>
  </article>
  <article>
    <h2>Transactions</h2>
    <table>
      <thead>
        <tr>
          <td>Txn Hash</td>
          <td>Method</td>
          <td>Block</td>
          <td>From</td>
          <td></td>
          <td>To</td>
        </tr>
      </thead>
      <tbody>
        <ng-container  *ngFor="let getTx$ of account.transactions">
          <tr *ngIf="getTx$ | async as tx">
            <td>{{ tx.transactionHash }}</td>
            <td>Method</td>
            <td>{{ tx.blockNumber }}</td>
            <td>{{ tx.from }}</td>
            <td>{{ tx.from === account.address ? 'OUT' : 'IN' }}</td>
            <td>{{ tx.to }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </article>
</ng-container>
