<p>{{ connected$ | async }}</p>
<ng-container *ngIf="account$ | async as account; else signin">
  <p>{{ account }}</p>
  <form [formGroup]="form" (ngSubmit)="mint()">
    <input type="text" formControlName="address" placeholder="Address">
    <input type="number" formControlName="tokenId" placeholder="Token Id">
    <input type="number" formControlName="amount" placeholder="Amount">
    <button type="submit">Contribute</button>
  </form>

  <ul>
    <li *ngFor="let token of tokens$ | async">
      {{ token | json }}
    </li>
  </ul>
</ng-container>

<ng-template #signin>
  <button (click)="connect()">connect</button>
</ng-template>
