<header>
  <h1>
    <a routerLink="search">Playground</a>
  </h1>
  <ng-container *ngIf="provider else noProvider">
    <eth-connect (connect)="redirect('/search')">
      <ng-template ethIdenticon let-account>
        <a class="identicon" routerLink="admin">
          <eth-blockies [address]="account"></eth-blockies>
        </a>
      </ng-template>
    </eth-connect>
  </ng-container>

  <ng-template #noProvider>
    <p>No metamask provider</p>
  </ng-template>
</header>

<router-outlet></router-outlet>
