<p>{{ connected$ | async }}</p>
<ng-container *ngIf="account$ | async as account; else signin">
  <header *ngIf="chain$ | async as chain">
    <h4>
      <a [href]="chain.explorers[0]?.url">{{ chain.name }}</a>
    </h4>
    <p>
      <eth-jazzicon [address]="account"></eth-jazzicon>
      <eth-blockies [address]="account"></eth-blockies>
      <a [href]="account | explore:chain">{{ account | address:'short' }}</a>
    </p>
  </header>

  <nav>
    <a [routerLink]="['erc20', erc20]">ERC20</a>
  </nav>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #signin>
  <button (click)="connect()">connect</button>
</ng-template>
