<form [formGroup]="form" (ngSubmit)="create()">
  
  <label for="name">Name</label>
  <input type="text" formControlName="name" name="name" id="name" required/>
  
  <label for="description">Description</label>
  <textarea formControlName="description" name="description" id="description" cols="30" rows="10"></textarea>
  
  <label for="image">Image</label>
  <input ipfsInput type="file" formControlName="image" name="name" id="name" />

  <label for="external_link">External Link</label>
  <input type="url" formControlName="external_link" name="external_link" id="external_link"/>
  
  <button type="reset" (click)="reset($event)">Cancel</button>
  <button type="submit">Create</button>
</form>