<h1>Transaction</h1>
<ng-container *ngIf="tx$ | async as tx">
  <table class="surface record">
    <tr>
      <th>Transaction hash</th>
      <td>{{ tx.transactionHash }}</td>
    </tr>
    <tr>
      <th>Transaction Status</th>
      <td></td>
    </tr>
    <tr>
      <th>From</th>
      <td><a [routerLink]="['/address', tx.from]">{{ tx.from }}</a></td>
    </tr>
    <tr>
      <th>To</th>
      <td><a [routerLink]="['/address', tx.to]">{{ tx.to }}</a></td>
    </tr>
  </table>
</ng-container>
