<h1>Transactions</h1>
<ng-container *ngIf="txs$ | async as txs; else loading">
  <table class="list surface" *ngIf="txs.length; else empty">
    <thead>
      <tr>
        <th>Txn Hash</th>
        <th>Block</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let tx of txs">
        <tr>
          <td>
            <a class="clamp" [routerLink]="['/tx', tx.transactionHash]">{{ tx.transactionHash }}</a>
          </td>
          <td>
            <a [routerLink]="['/block', tx.blockNumber]">{{ tx.blockNumber }}</a>
          </td>
          <td>
            <a class="clamp" [routerLink]="['/account', tx.from]">{{ tx.from }}</a>
          </td>
          <td>
            <ng-container *ngIf="tx.to; else contractAddress">
              <a class="clamp" [routerLink]="['/account', tx.to]">{{ tx.to }}</a>
            </ng-container>
            <ng-template #contractAddress>
              <a class="clamp" [routerLink]="['/contract', tx.contractAddress]">{{ tx.contractAddress }}</a>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>

<ng-template #loading>
  <p class="loading">Loading</p>
</ng-template>

<ng-template #empty>
  <p class="empty">There is no transaction for this address yet</p>
</ng-template>