<ng-container *ngIf="contracts$ | async as contracts; else loading">
  <ul *ngIf="contracts.length; else empty">
    <li *ngFor="let contract of contracts">
      <a [routerLink]="[contract.address]">
        <eth-blockies [address]="contract.address"></eth-blockies>
        <!-- <img [ipfsCid]="contract.collection.image" /> -->
        <span>{{ contract.collection.name }}</span>
      </a>
    </li>
  </ul>
</ng-container>

<ng-template #empty>
  There is no contract yet
</ng-template>

<ng-template #loading>
  Loading
</ng-template>