<ul class="grid">
  <li *ngFor="let account of accounts$ | async; trackBy: trackByAddress">
    <a class="surface item" [routerLink]="['/account', account.address]">
      <header>
        <eth-blockies [address]="account.address"></eth-blockies>
        <h3>{{ account.address | address:'short' }}</h3>
        <span class="tag" *ngIf="account.isContract">Contract</span>
      </header>
      <p>Balance: {{ account.balance | ether }}</p>
      <p>Tx count: {{ account.transactions.length }}</p>
    </a>
  </li>
</ul>
