<ng-container *ngIf="forms$ | async as forms">
  <article>
    <h3>Read Contract</h3>
    <details *ngFor="let read of forms.reads; trackBy: trackByName">
      <summary>
        <h4>{{ read.name }}</h4>
      </summary>
      <form [formGroup]="$any(read.form)" (ngSubmit)="callRead(read)">
        <ul class="inputs" *ngIf="read.inputs.length">
          <li class="field" *ngFor="let input of read.inputs">
            <ng-container *ngTemplateOutlet="field; context: { $implicit: input }"></ng-container>
          </li>
        </ul>
        <footer>
          <button>Query</button>
          <output *ngIf="!read.form.hasError('err') && read.result">{{ read.result }}</output>
          <output *ngIf="read.form.hasError('err')">{{ read.form.getError('err') }}</output>
        </footer>
      </form>
    </details>
  </article>
  
  <article>
    <h3>Write Contract</h3>
    <p>
      Current signer: <span class="signer">{{ account$ | async }}</span>
    </p>
    <details *ngFor="let write of forms.writes; trackBy: trackByName">
      <summary>
        <h4>{{ write.name }}</h4>
      </summary>
      <form [formGroup]="$any(write.form)" (ngSubmit)="callWrite(write)">
        <ul class="inputs">
          <li class="field" *ngFor="let input of write.inputs">
            <ng-container *ngTemplateOutlet="field; context: { $implicit: input }"></ng-container>
          </li>
        </ul>
        <footer>
          <button>Submit</button>
          <output *ngIf="write.form.hasError('err')">{{ write.form.getError('err') }}</output>
        </footer>
      </form>
    </details>
  </article>
</ng-container>

<ng-template #field let-input>
  <label [for]="input.name">{{ input.name }} <small>({{ input.paramType }})</small></label>
  <ng-container [ngSwitch]="input.type">
    <!-- Object / array -->
    <ng-container *ngSwitchCase="'object'">
      <input
        [attr.aria-describedby]="'hint-'+input.name"
        [id]="input.name"
        [formControl]="input.control"
        [placeholder]="input.paramType"
      />
      <p [id]="'hint-'+input.name" class="hint"><small>Data as JSON object</small></p>
    </ng-container>
    <!-- Boolean -->
    <ng-container *ngSwitchCase="'boolean'">
      <select [id]="input.name" [formControl]="input.control">
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select>
    </ng-container>
    <ng-container *ngSwitchCase="'address'">
      <input [id]="input.name" type="ethAddress" [formControl]="input.control" [placeholder]="input.paramType"/>
    </ng-container>
    <!-- String / bytes / int / address -->
    <ng-container *ngSwitchDefault>
      <input [id]="input.name" [type]="input.type" [formControl]="input.control" [placeholder]="input.paramType"/>
    </ng-container>
  </ng-container>
</ng-template>