<ng-container *ngIf="forms$ | async as forms">
  <article>
    <h3>Read Contract</h3>
    <details *ngFor="let read of forms.reads">
      <summary>
        <h4>{{ read.name }}</h4>
      </summary>
      <form [formGroup]="$any(read.form)" (ngSubmit)="callRead(read)">
        <ul class="inputs">
          <li class="field" *ngFor="let input of read.inputs">
            <label [for]="input.name">{{ input.name }}</label>
            <input [id]="input.name" [type]="input.type" [formControl]="input.control" [placeholder]="input.type"/>
          </li>
        </ul>
        <footer>
          <button>Query</button>
          <output *ngIf="read.result">{{ read.result }}</output>
        </footer>
      </form>
    </details>
  </article>
  
  <article>
    <h3>Write Contract</h3>
    <details *ngFor="let write of forms.writes">
      <summary>
        <h4>{{ write.name }}</h4>
      </summary>
      <form [formGroup]="$any(write.form)" (ngSubmit)="callWrite(write)">
        <ul class="inputs">
          <li class="field" *ngFor="let input of write.inputs">
            <label [for]="input.name">{{ input.name }}</label>
            <input [id]="input.name" [type]="input.type" [formControl]="input.control" [placeholder]="input.type"/>
          </li>
        </ul>
        <footer>
          <button>Submit</button>
        </footer>
      </form>
    </details>
  </article>
</ng-container>

<ng-template #text let-field>

</ng-template>