:host {
  display: block;
}

article {
  margin-bottom: var(--size-3);
  
  .signer {
    color: var(--text-1);
  }
}

details {
  border-left: 1px solid var(--border-0);
  border-right: 1px solid var(--border-0);
  &:first-of-type {
    border-top-left-radius: var(--size-0);
    border-top-right-radius: var(--size-0);
    border-top: 1px solid var(--border-0);
  }
  &:last-of-type {
    border-bottom-left-radius: var(--size-0);
    border-bottom-right-radius: var(--size-0);
    border-bottom: 1px solid var(--border-0);
  }
  &[open] {
    summary {
      border-bottom: 1px solid var(--border-1);
      h4 {
        color: var(--text-0);
      }
    }
  }
}

details:not(:first-of-type) {
  summary {
    border-top: 1px solid var(--border-0);
  }
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--size-1);
  cursor: pointer;
  h4 {
    color: var(--text-1);
    margin-bottom: 0;
  }
  &:hover {
    background-color: var(--background-hover);
  }
}
form {
  padding: var(--size-1);
  ul {
    padding: var(--size-1);
    list-style: none;
    margin: 0;
    display: flex;
    gap: var(--size-2);
  }
  .field {
    display: flex;
    flex-direction: column;
    label {
      color: var(--text-1);
      margin-bottom: var(--size-0);
    }
    input {
      border-radius: var(--size-0);
      border: 1px solid var(--border-0);
      background-color: var(--background-1);
    }
  }
  footer {
    display: flex;
    gap: var(--size-3);
    padding: var(--size-1);

    button {
      border-radius: var(--size-0);
      border: 1px solid var(--border-0);
      cursor: pointer;
    }

    output {
      display: flex;
      align-items: center;
      flex: 1;
      padding-inline: var(--size-2);
      background-color: var(--background-1);
      border-radius: var(--size-0);
      border: 1px solid var(--border-0);
    }
  }

  &.ng-invalid.ng-touched {
    label {
      color: var(--warn);
    }
    input {
      border: 1px solid var(--warn);
    }
  }
}
