<ul class="grid">
  <li *ngFor="let contract of contracts$ | async">
    <a class="surface item" [routerLink]="['/contract', contract.address]">
      <header>
        <eth-blockies [address]="contract.address"></eth-blockies>
        <h3>{{ contract.address | address:'short' }}</h3>
        <span class="tag" *ngIf="contract.isContract">Contract</span>
      </header>
      <p>Balance: {{ contract.balance | ether }}</p>
      <p>Tx count: {{ contract.transactions.length }}</p>
    </a>
  </li>
</ul>
