<ng-container *ngIf="block$ | async as block">
  <h1>Block #{{ block.number }}</h1>

  <article class="surface">
    <h2>Details</h2>
    <table class="record">
      <tr>
        <th>Block Height</th>
        <td class="block-number">
          <a [routerLink]="['..', block.number - 1]" *ngIf="block.number">Previous</a>
          <span>{{ block.number }}</span>
          <a [routerLink]="['..', block.number + 1]" *ngIf="hasNext$ | async">Next</a>
        </td>
      </tr>
      <tr>
        <th>Timestamp</th>
        <td>{{ block.timestamp * 1000 | date: 'full' }}</td>
      </tr>
      <tr>
        <th>Mined By</th>
        <td>
          <a [routerLink]="['/account', block.miner]">{{ block.miner }}</a>
        </td>
      </tr>
    </table>
  </article>

  <article class="surface">
    <header>
      <h2>Transactions</h2>
      <small>{{ block.transactions.length }}</small>
    </header>
    <table class="list" *ngIf="block.receipts.length; else empty">
      <thead>
        <tr>
          <th>Txn Hash</th>
          <th>From</th>
          <th>To</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tx of block.receipts; trackBy: trackByHash">
          <tr>
            <td>
              <a class="clamp" [routerLink]="['/tx', tx.transactionHash]">{{ tx.transactionHash }}</a>
            </td>
            <td>
              <a class="clamp" [routerLink]="['/account', tx.from]">{{ tx.from }}</a>
            </td>
            <td>
              <ng-container *ngIf="tx.to; else contractAddress">
                <a class="clamp" [routerLink]="['/account', tx.to]">{{ tx.to }}</a>
              </ng-container>
              <ng-template #contractAddress>
                <a class="clamp" [routerLink]="['/contract', tx.contractAddress]">{{ tx.contractAddress }}</a>
              </ng-template>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <ng-template #empty>
      <p class="empty">There is no transactions in this block</p>
    </ng-template>
  </article>
</ng-container>
