<ng-container *ngIf="block$ | async as block">
  <h1>Block #{{ block.number }}</h1>

  <article class="surface">
    <h2>Details</h2>
    <table class="record">
      <tr>
        <th>Block Height</th>
        <td class="block-number">
          <a [routerLink]="['..', block.number - 1]" *ngIf="block.number">Previous</a>
          <span>{{ block.number }}</span>
          <a [routerLink]="['..', block.number + 1]" *ngIf="hasNext$ | async">Next</a>
        </td>
      </tr>
      <tr>
        <th>Timestamp</th>
        <td>{{ block.timestamp * 1000 | date: 'full' }}</td>
      </tr>
      <tr>
        <th>Mined By</th>
        <td>
          <a [routerLink]="['/account', block.miner]">{{ block.miner }}</a>
        </td>
      </tr>
    </table>
  </article>

  <article class="surface">
    <header>
      <h2>Transactions</h2>
      <small>{{ block.transactions.length }}</small>
    </header>
    <ul class="list">
      <li *ngFor="let hash of block.transactions">
        <a class="item" [routerLink]="['/tx', hash]">{{ hash }}</a>
      </li>
    </ul>
  </article>
</ng-container>
