<ng-container *ngIf="contract$ | async as contract">
  <table class="list" *ngIf="contract.transactions.length; else empty">
    <thead>
      <tr>
        <th>Txn Hash</th>
        <th>Block</th>
        <th>From</th>
        <th></th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <ng-container  *ngFor="let tx of contract.transactions">
        <tr>
          <td>
            <a class="clamp" [routerLink]="['/tx', tx.transactionHash]">{{ tx.transactionHash }}</a>
          </td>
          <td>
            <a [routerLink]="['/block', tx.blockNumber]">{{ tx.blockNumber }}</a>
          </td>
          <td>
            <a class="clamp" [routerLink]="['/contract', tx.from]">{{ tx.from }}</a>
          </td>
          <td>
            <span class="tag">{{ tx.from === contract.address ? 'OUT' : 'IN' }}</span>
          </td>
          <td>
            <ng-container *ngIf="tx.to; else contractAddress">
              <a class="clamp" [routerLink]="['/contract', tx.to]">{{ tx.to }}</a>
            </ng-container>
            <ng-template #contractAddress>
              <a class="clamp" [routerLink]="['/contract', tx.contractAddress]">{{ tx.contractAddress }}</a>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
<ng-template #empty>
  <p class="empty">There is no transaction for this address yet</p>
</ng-template>